.portfolio {
  border-top: 1px solid var(--line-color);
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    background: #ffffff;
  }
  &__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
    & .portfolio__description {
      transform: translateY(100%);
      transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
    }
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .portfolio__description,
    &:focus .portfolio__description {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    overflow: hidden;
    opacity: 0;
    font-size: 18px;
    line-height: 1.56;
    color: var(--additional-color);
    background: rgba(33, 150, 243, 0.9);
    transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
  }
  &__card {
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    padding: 20px 24px;
  }
  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
  }
  &__text {
    line-height: 1.88;
    color: var(--text-color);
  }
}
.filter {
  &__list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
}
