.team {
  background-color: var(--button-color);
  &__title {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    background: var(--additional-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__worker {
    padding: 30px 32px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    color: var(--main-color);
  }
  &__text {
    margin-top: 10px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color);
  }
  &__social-list {
    display: flex;
    margin-top: 16px;
    gap: 10px;
    align-items: center;
  }
  &__social-link {
    width: 44px;
    height: 44px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
    fill: var(--social-link-color);
    &:hover,
    &:focus {
      fill: var(--additional-color);
      background-color: var(--brand-color);
    }
  }
}
