:root {
  --main-font: 'Roboto', sans-serif;
  --additional-font: 'Raleway', sans-serif;

  --main-color: #212121;
  --brand-color: #2196f3;
  --text-color: #757575;
  --additional-color: #ffffff;
  --header-logo-color: #000000;
  --button-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --line-color: #ececec;
  --social-link-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
